<!DOCTYPE html>
<html ng-app="consultasModule">
<head>
	<meta-charset="utf-8">
	<title>Consultas</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="control/consultasControl.js"></script>
</head>
<body ng-controller="consultasControl">
	<div ng-include="'menu.html'"></div>
	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de consultas</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">
					<br>
					<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
					<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
					<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
					<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesqusiar</button>
					<hr/>
			    	<form>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="number" disabled="true" class="form-control" ng-model="consultas.codigo" placeholder="Codigo">
					  </div>
					  
					  <div class="form-group col-md-6">
					    <label for="exampleInputNome">Data</label>
					    <input type="text" class="form-control" ng-model="consultas.dataConsulta" placeholder="Insira o Nome">
					  </div>
					  
					  <div class="form-group col-md-4">
					    <label for="exampleInputCargo">Valor</label>
					    <input type="text" class="form-control" ng-model="consultas.valor" placeholder="Insira o sexo">
					  </div>

					  <div class="form-group col-md-6">
					    <label for="exampleInputEndereco">Codigo Paciente</label>
					    <input type="text" class="form-control" ng-model="consultas.paciente.codigo" placeholder="Insira o data nascimente">
					  </div>
					  
					   <div class="form-group col-md-6">
					    <label for="exampleInputNome">Codigo Medico</label>
					    <input type="text" class="form-control" ng-model="consultas.medico.codigo" placeholder="Insira o telefone">
					  </div>
					 									
					</form>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="dados">
				<br>
				<input type="text" class="form-control" ng-model="criterio" 
				placeholder="O que voce esta procurando?" /><br>
			    	<table class="table table-hover">
			    		<th>Codigo</th><th>Data</th><th>Valor</th><th>Codigo Paciente</th><th>Codigo Medico</th>

			    		<tr ng-repeat="consultasTabela in consultass | filter:criterio" ng-click="seleciona(consultasTabela);">
			    			<td>{{consultasTabela.codigo}}</td><td>{{consultasTabela.dataConsulta}}</td><td>{{consultasTabela.valor}}</td>
			    			<td>{{consultasTabela.paciente.codigo}}</td><td>{{consultasTabela.medico.codigo}}</td>
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>